.ConfigProvider {
  background-color: #ede3e3;
  height: 437px;
  margin-bottom: 24px;
  border-radius: 15px;
  width: 277px;
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ConfigProvider img {
  height: 45% !important;
  width: 73% !important;
  margin: 43px 0 0 32px !important;
 
}
.main-button {
  width: 90%;
  margin: 15px 0 0 14px;
}
.img-wrap {
  width: 249px;
  height: 158px;
  margin: 13px 0 0 14px;
  background-color: white;
  border-radius: 4px;
}

.ConfigProvider h4,
.ConfigProvider p {
  text-align: left;
  text-align: left;
  margin: 20px 0 0 14px;
  color: #382c2c !important;
}

.btn-danger {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
  width: 62px !important;
  margin-left: 13px;
}

.btn-info,
.btn-warning {
  border-radius: 0 !important;
  width: 63px !important;
}

.btn-success {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 4px !important;
  width: 63px !important;
}

.btn-danger,
.btn-info,
.btn-success,
.btn-warning {
  margin-top: 22px;
}
@media only screen and (max-width: 1140px){
  .col-md-3 {
    width: 26% !important;
  }
}
@media only screen and (max-width: 1100px){
  .col-md-3 {
    width: 35% !important;
  }
}
@media only screen and (max-width: 991px){
  .col-md-3 {
    width: 50% !important;
  }
  .ConfigProvider img {
    height: 45% !important;
    width: 73% !important;
    margin: 43px 0 0 32px !important;
   
  }
}