.LineType {

}
.LineType  .env {
  margin: -47px 0 0 60%;
}
.LineType  .elp {
  margin: -40px 0 0 84%;
}
.LineType  .btn {
  width: 82%;
  margin: 10px 8%;
  font-size: 80%;
}
@media only screen and (max-width: 1145px){
  .LineType  .btn {
    font-size: 60%;
  }
}