.BusinessType .btn {
  display: block;
  margin: 40px auto;
}

.BusinessType .btn-danger {
  float: right;
  margin: -31px 2% 0 0;
  border-radius: 7% !important;
  padding-left: .5rem;
}

@media only screen and (max-width: 410px){
  .BusinessType .btn {
    width: 91%;
    padding-left: 7px;
    font-size: 95%;
  }
  
  .BusinessType .btn-danger {
    float: none;
    margin: -2px 0% 0px 73px;
    
  }
}